.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 100px !important;
}

.hero-container {
    width: 100%;
}

.hero-title {
    font-size: 100px;;
    line-height: 1.0;
    margin-bottom: 40px;
    letter-spacing: -2px;
}

.hero-main {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 60px;
    align-items: center;
}

.hero-image-wrapper {
    position: relative;
    max-width: 100%;
}

.archer-mask {
    width: 100%;
    aspect-ratio: 4/5;
    border-radius: 160px 160px 20px 20px;
    overflow: hidden;
    background: #d2e0db;
}

.archer-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-intro {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.text-highlight {
    color: var(--primary-color);
}


.hero-description {
    font-size: 1.1rem;
    /* Reduced from 1.25rem */
    color: var(--text-muted);
    margin-bottom: 20px;
    max-width: 480px;
}

@media (max-width: 968px) {
    .hero-title {
        margin-bottom: 30px;
        text-align: center;
    }

    .hero-main {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .hero-image-wrapper {
        max-width: 280px;
        margin: 0 auto;
    }

    .hero-description {
        margin: 0 auto 20px;
    }
}