.projects {
    padding: 100px 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.project-card {
    transition: var(--transition-smooth);
}

.project-image-box {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 24px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}

.project-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-smooth);
}

/* ZipReader image adjustment */
.project-card:nth-child(4) img {
    object-fit: contain;
    object-position: center;
    padding: 0rem;
    background: #f6f8ff;
}

.project-card:hover .project-image-box img {
    transform: scale(1.07);
}

.project-title {
    font-size: 1.8rem;
    margin-bottom: 12px;
}

.project-desc {
    color: var(--text-muted);
    font-size: 1.1rem;
    margin-bottom: 20px;
    max-width: 90%;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-image-box {
        border-radius: 30px;
    }
}